
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Total Data Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
<h1>Seoul Top12 Station</h1>
<canvas id="totalChart"></canvas>

<script>

    const ctx = document.getElementById('totalChart').getContext('2d');
    const chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: <%- stationName%>,
                    datasets: [{
                        label: 'total top12',
                        data: <%- totalData %>,
                        backgroundColor: [
                            'rgba(152, 23, 12, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 9, 12, 1)',
                        ],
                        borderWidth: 1
                    }],
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                }
            });




</script>
</body>
</html>
