<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>Chart.js Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff">
    <link rel="stylesheet" href="../css/header_test.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/chat.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/a4dc7026e0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
</head>
<body>
<div class="container">
    <nav>
        <a class="nav-item" href="/main"><h1>Trip</h1></a>
        <div class="nav-item">
            <a class="nav-link" href="./public/login_kyb.html"><h2>로그인</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/nav_goong.html">경복궁</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>강릉</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/Gunsan_Main.html"><h2>군산</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/Gunsan_Travel.html">금강권</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/busanMain.html"><h2>부산</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="/chartKYB">게시판</a>
            </div>
        </div>
    </nav>
</div>
<div class = "chart_box">
<canvas id="myChart" width="700" height="400">

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels:<%- labels%>,
            datasets: [{
                label: 'Chart Data',
                data:<%- data%>,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</canvas>
</div>
</body>
</html>