<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>Chart.js Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff">
    <link rel="stylesheet" href="../public/css/header_test.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/chat.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/a4dc7026e0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <style>
        .container5{
            margin: 130px auto;
            text-align: center;
        }
        .container5 *{
            margin: 10px;
        }
        .create_box{
            width: 50%;
            border: 2px solid black;
            margin: auto;
            text-align: center;
        }
    </style>
    <script>
        $(document).ready(function() {
            $(".btn3 button").on("click", function() {
                console.log("Button clicked!");
                $(".content").toggleClass("expanded");
            });

            // content 외의 영역을 클릭하면 content 닫기
            $(document).on("click", function(event) {
                if (!$(event.target).closest(".btn3, .content").length) {
                    $(".content").removeClass("expanded");
                }
            });
        });
    </script>
</head>
<body>
<div class = "container1_1">
    <nav class = "head_nav">
        <div class = "nav-item1-left">
            <a class="nav-link1" href = "/boardkyb">공지사항</a>
        </div>
        <div class="nav-item1-left">
            <a class="nav-link" href="/boardkyb">홍보영상</a>
        </div>
        <div class = "nav-item1-center">
            <a class = "nav-link1" href = "/video"><h1>Main</h1></a>
        </div>
        <div class = "nav-item1">
            <div class = "login_box">
                <% if (username) { %>
                    <a href="#" class="button"><%- username %></a>
                    <div class="sub-nav">
                        <a class="nav-item" href="/logout">로그아웃</a>
                    </div>
                <% } else { %>
                    <a href="/login" class="button">로그인</a>
                <% } %>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <nav>
        <a class="nav-item" href="/main_2"><h1>Trip</h1></a>
        <div class="nav-item">
            <a class="nav-link" href="/subway"><h2>2호선,4호선</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="/total">이지우님차트</a>
                <a class="nav-item" href="/chartkyb">강연배님차트</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>강남</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>명동</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/Gunsan_Travel.html"><h2>???</h2></a>
        </div>
    </nav>
</div>
<div class = container5>
    <div class = "create_box">
        <form action="/create_kyb" method="post" enctype="multipart/form-data">
            <label for="class_post">구분</label>
            <select name="class_post" id="class_post">
                <option value="공지사항">공지사항</option>
                <option value="이벤트">이벤트</option>
                <option value="업데이트">업데이트</option>
            </select>
            <label for="title">제목:</label>
            <input type="text" id="title" name="title"><br>
            <label for="content">내용:</label><br>
            <textarea id="content" name="content" rows="24" cols="50"></textarea><br>
            <!-- 파일 업로드 인풋 추가 -->
            <label for="files">파일 첨부:</label><br>
            <input type="file" id="files" name="files" multiple><br>
            <input type="submit" value="작성하기">
        </form>

        <!-- 이전 페이지로 돌아가기 버튼 -->
        <a href="/boardkyb">이전 페이지로 돌아가기</a>
    </div>
</div>
<div class="container1">
    <div class="chat-bar collapsed">
        <div class="btn3">
            <button><i class="fa-sharp fa-solid fa-comments">chat us!</i></button>
        </div>
        <div class="content">
            <div class="full-chat-block">
                <div class="outer-container">
                    <div class="chat-container">
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg" placeholder="엔터(Enter)키를 눌러 메세지를 보내세요!">
                                <p></p>
                            </div>
                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart" onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" onclick="sendButton()"></i>
                            </div>
                        </div>
                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../public/js/chat.js"></script>
<script src="../public/js/Reply.js"></script>
</body>
</html>
