<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>Chart.js Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff">
    <link rel="stylesheet" href="../public/css/header_test.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/chat.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/a4dc7026e0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".btn3 button").on("click", function() {
                console.log("Button clicked!");
                $(".content").toggleClass("expanded");
            });

            // content 외의 영역을 클릭하면 content 닫기
            $(document).on("click", function(event) {
                if (!$(event.target).closest(".btn3, .content").length) {
                    $(".content").removeClass("expanded");
                }
            });
        });
    </script>
</head>
<body>
<div class="container">
    <nav>
        <a class="nav-item" href="/main_2"><h1>Trip</h1></a>
        <div class="nav-item">
            <a class="nav-link" href="/sliedChart"><h2>차트</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="/total">이지우님차트</a>
                <a class="nav-item" href="/total">강연배님차트</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>강릉</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/Gunsan_Main.html"><h2>군산</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/Gunsan_Travel.html">금강권</a>
            </div>
        </div>
        <div class="nav-item">
            <div class = "login_box">
                <% if (username) { %>
                    <p><%= username %>님<a href="/logout" class="button"><h2>로그아웃</h2></a></p>
                <% } else { %>
                    <a href="/login" class="button"><h2>로그인</h2></a>
                <% } %>
            </div>
            <div class="sub-nav">
                <a class="nav-item" href="/video">홍보영상</a>
            </div>
        </div>
    </nav>
</div>
<header id="header">
    <video id="video-background" autoplay muted>
        <source src="../public/video/seoul.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var video = document.getElementById("video-background");
            video.onended = function() {
                window.location.href = "public/login_kyb.html";
            };
        });
    </script>
</header>
<div class="container1">
    <div class="chat-bar collapsed">
        <div class="btn3">
            <button><i class="fa-sharp fa-solid fa-comments">chat us!</i></button>
        </div>
        <div class="content">
            <div class="full-chat-block">
                <div class="outer-container">
                    <div class="chat-container">
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg" placeholder="엔터(Enter)키를 눌러 메세지를 보내세요!">
                                <p></p>
                            </div>
                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart" onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" onclick="sendButton()"></i>
                            </div>
                        </div>
                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../public/js/chat.js"></script>
<script src="../public/js/Reply.js"></script>
</body>
</html>
</DOCTYPE>