<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>Chart.js Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff">
    <link rel="stylesheet" href="../public/css/header_test.css">
    <link rel="stylesheet" href="../public/css/chartlee2.css">
    <link rel="stylesheet" href="../public/css/chat.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/a4dc7026e0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(function() {
            $(".btn3 button").on("click", function() {
                console.log("Button clicked!");
                $(".content").toggleClass("expanded");
            });

            // content 외의 영역을 클릭하면 content 닫기
            $(document).on("click", function(event) {
                if (!$(event.target).closest(".btn3, .content").length) {
                    $(".content").removeClass("expanded");
                }
            });
        });
    </script>
    <style>
        .container3{
            margin: 50px auto;
            text-align: center;
        }
        .imgtag{
            display: inline-block;
        }
        .container3 img{
            width:400px;
            height: 200px;
            border: 1px solid black;
            margin: 10px auto;
            display: inline-block;
        }
        .chart_box{
            margin: 150px auto;
            width: 1500px;
            height: 800px;
            text-align: center;
        }
        .chart_box #myChart{
            margin: 0 auto;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class = "container1_1">
    <nav class = "head_nav">
        <div class = "nav-item1-left">
            <a class="nav-link1" href = "/boardkyb">공지사항</a>
        </div>
        <div class="nav-item1-left">
            <a class="nav-link" href="/boardLJW">요청게시판</a>
        </div>
        <div class = "nav-item1-center">
            <a class = "nav-link1" href = "/main"><h1><img src = "../public/images/logo1.png"></h1></a>
        </div>
        <div class="nav-item1-left">
            <% if (username == null) {%>
                <a class="nav-link" href="/signup">회원가입</a>
            <%}%>
        </div>
        <div class = "nav-item1">
            <div class = "login_box">
                <% if (username) { %>
                    <a href="#" class="button"><%- username %></a>
                    <div class="sub-nav">
                        <a class="nav-item" href="/logout">로그아웃</a>
                    </div>
                <% } else { %>
                    <a href="/login" class="button">로그인</a>
                <% } %>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <nav>
        <div class = "nav-item">
            <a class="nav-link" href="/total"><h1>Top12</h1></a>
            <div class="sub-nav">
                <a class="nav-item" href="/subway">관광객 추세</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/video"><h2>잠실</h2></a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>홍대입구</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/gangnam"><h2>강남</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="/chartkyb">강남 점포수</a>
                <a class="nav-item" href="/HJ_boardMain">게시판</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>구로디지털</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>삼성</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>신림</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">역삼</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>서울역</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>신도림</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>고속터미널</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/Myeong-dong"><h2>명동</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="/md_mainBoard">게시판</a>
                <a class="nav-item" href="/totalKYB">명동 남녀매출</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>선릉</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
    </nav>
</div>
<div class = "chart_box">
    <h1>명동상권별, 남녀매출</h1>
<h2>현재 데이터는 <span id="chartName"></span> 입니다.</h2>

<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // 전역 범위에서 currentMonthIndex 변수를 선언하고 초기화
    let currentChartIndex = 0;
    const chartData = <%- chartData %>;
    const chartName = chartData.map(data => data.label);
    const element_chartName = document.getElementById('chartName');
    const ctx = document.getElementById('myChart').getContext('2d');

    // 초기 차트 생성
    const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['남성 매출', '여성 매출'],
            datasets: [{
                label: chartName[currentChartIndex],
                data: [chartData[currentChartIndex].maleSales, chartData[currentChartIndex].femaleSales],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // 차트 업데이트 함수
    function updateChart() {
        currentChartIndex = (currentChartIndex + 1) % chartData.length; // 다음 차트 인덱스 계산
        element_chartName.textContent = chartName[currentChartIndex]; // 차트 이름 업데이트

        // 차트 데이터 업데이트
        myChart.data.datasets[0].label = chartName[currentChartIndex];
        myChart.data.datasets[0].data = [chartData[currentChartIndex].maleSales, chartData[currentChartIndex].femaleSales];
        myChart.update();
    }

    // 주기적으로 차트 업데이트
    setInterval(updateChart, 3000); // 3초마다 업데이트
</script>
</div>


<div class="container1">
    <div class="chat-bar collapsed">
        <div class="btn3">
            <button><i class="fa-sharp fa-solid fa-comments">chat us!</i></button>
        </div>
        <div class="content">
            <div class="full-chat-block">
                <div class="outer-container">
                    <div class="chat-container">
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg" placeholder="엔터(Enter)키를 눌러 메세지를 보내세요!">
                                <p></p>
                            </div>
                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart" onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" onclick="sendButton()"></i>
                            </div>
                        </div>
                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../public/js/chat.js"></script>
<script src="../public/js/Reply.js"></script>
</body>
</html>