<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>Chart.js Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff">
    <link rel="stylesheet" href="../public/css/header_test.css">
    <link rel="stylesheet" href="../public/css/chartlee.css">
    <link rel="stylesheet" href="../public/css/chat.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/a4dc7026e0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(document).ready(function() {
            $(".btn3 button").on("click", function() {
                console.log("Button clicked!");
                $(".content").toggleClass("expanded");
            });

            // content 외의 영역을 클릭하면 content 닫기
            $(document).on("click", function(event) {
                if (!$(event.target).closest(".btn3, .content").length) {
                    $(".content").removeClass("expanded");
                }
            });
        });
    </script>
</head>
<body>
<div class = "container1_1">
    <nav class = "head_nav">
        <div class = "nav-item1-left">
            <a class="nav-link1" href = "/boardkyb">공지사항</a>
        </div>
        <div class="nav-item1-left">
            <a class="nav-link" href="/video">홍보영상</a>
        </div>
        <div class = "nav-item1-center">
            <a class = "nav-link1" href = "/video"><h1>Main</h1></a>
        </div>
        <div class = "nav-item1">
            <div class = "login_box">
                <% if (username) { %>
                    <a href="#" class="button"><%- username %></a>
                    <div class="sub-nav">
                        <a class="nav-item" href="/logout">로그아웃</a>
                    </div>
                <% } else { %>
                    <a href="/login" class="button">로그인</a>
                <% } %>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <nav>
        <a class="nav-item" href="/main"><h1>Trip</h1></a>
        <div class="nav-item">
            <a class="nav-link" href="/subway"><h2>2호선,4호선</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="/total">이지우님차트</a>
                <a class="nav-item" href="/chartkyb">강연배님차트</a>
                <a class="nav-item" href="/testchart_kyb">관광객 추세</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>강남</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>명동</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
    </nav>
</div>
<div class = "container1">
    <div class = "chart_box1">
<h1>Seoul Top12 Station</h1>
<h2>현재 데이터는 <span id="chartName"></span> 입니다.</h2>
<canvas id="totalChart">

<script>
    const chartData = <%- chartData %>
    const element_chartName = document.getElementById('chartName');
    const chartName = ['전체', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'];
    element_chartName.textContent = chartName[0]; // 초기 값 설정

    let currentMonthIndex = 0; // 현재 월을 나타내는 인덱스입니다.
    let labels = Object.keys(chartData); // 역 이름을 라벨로 설정합니다.

    // 'total' 데이터만 추출하여 고정된 막대 차트 데이터로 설정합니다.
    let totalData = labels.map(key => chartData[key][0]); // 가정: chartData에서 0번 인덱스가 'total'을 나타냅니다.

    // 초기 월별 데이터 설정
    let monthlyData = labels.map(key => chartData[key][currentMonthIndex + 1]); // 첫 번째 월의 데이터로 설정

    var ctx = document.getElementById('totalChart').getContext('2d');
    var totalChart = new Chart(ctx, {
            type: 'bar',
            data: {
                    labels:<%- stationName%>,
                    datasets: [
                        {
                            label: 'Total',
                            data: totalData,
                            type: 'bar', // 이 데이터셋을 막대 차트로 설정
                            backgroundColor: 'rgba(0, 123, 255, 0.5)',
                            borderColor: 'rgba(0, 123, 255, 1)',
                            borderWidth: 1,
                        },
                    {
                        label: 'Monthly',
                        data: monthlyData,
                        type: 'line', // 이 데이터셋을 선 차트로 설정
                        fill: false,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 2,
                    }
                ],
            },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
          });

    function updateMonthlyData() {
        currentMonthIndex = (currentMonthIndex + 1) % 12; // 월 인덱스 업데이트
        element_chartName.textContent = chartName[currentMonthIndex + 1]; // 현재 월 표시 업데이트

        // 현재 월에 해당하는 월별 데이터로 선 차트 데이터셋 업데이트
        monthlyData = labels.map(key => chartData[key][currentMonthIndex + 1]);
        chart.data.datasets[1].data = monthlyData; // 두 번째 데이터셋(월별 데이터) 업데이트
        chart.update();
    }

    setInterval(updateMonthlyData, 1000); // 1초마다 updateMonthlyData 함수 호출로 차트 데이터 업데이트


</script>
</canvas>
</div>
</div>
<div class="container1">
    <div class="chat-bar collapsed">
        <div class="btn3">
            <button><i class="fa-sharp fa-solid fa-comments">chat us!</i></button>
        </div>
        <div class="content">
            <div class="full-chat-block">
                <div class="outer-container">
                    <div class="chat-container">
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg" placeholder="엔터(Enter)키를 눌러 메세지를 보내세요!">
                                <p></p>
                            </div>
                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart" onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" onclick="sendButton()"></i>
                            </div>
                        </div>
                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../public/js/chat.js"></script>
<script src="../public/js/Reply.js"></script>
</body>
</html>